<?xml version="1.0"?>

<robot name="livox_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Base link -->
  <link name="base_link"/>

  <!-- Livox frame -->
  <link name="livox_frame"/>

  <link name="utlidar_frame"/>

  <joint name="body_to_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="utlidar_frame"/>
    <origin xyz="0.28 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Fixed transform: base_link -> livox -->
  <joint name="livox_joint" type="fixed">
    <parent link="base_link"/>
    <child link="livox_frame"/>
    <origin xyz="0.13 -0.02 0.15" rpy="0 0 0"/>
  </joint>

</robot>